{
  "presets": ["env", "react"],
  "plugins": [
    "syntax-dynamic-import",
    "react-hot-loader/babel",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-inline-elements",
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}