<div class="container-fluid bg-dark" id="footer-credits">
    <span class="text-white">
        <i class="fa fa-at"></i>
        <a href="mailto:martakj@batas.sk">Marták Juraj</a>
        &nbsp;&nbsp;&nbsp;
        <i class="fa fa-phone"></i>
        &nbsp;423
        &nbsp;&nbsp;&nbsp;
        (2017 - {{ "now"|date('Y') }})
    </span>
</div>