<div class="container-fluid bg-dark" id="footer-credits">
    <span class="text-white pull-left">
        <i class="fa fa-at"></i>
        <a href="mailto:martakj@batas.sk">Marták Juraj</a>
        &nbsp;&nbsp;&nbsp;
        <i class="fa fa-phone"></i>
        &nbsp;423
    </span>
    <span class="text-white pull-right">
        BAT, a.s. | Technicko-informačný portál - v3.1
        &nbsp;(2017 - {{ "now"|date('Y') }})
    </span>
</div>