.sumarizacia {

}

.cislo-riadku {
  vertical-align: top !important;
  font-weight: 700 !important;
  color: #dc3545 !important;
  font-size: 10px;
}

.suma {
  vertical-align: middle !important;
  font-weight: 700 !important;
  text-align: right !important;
}