.dpp-overflow {
  overflow-x: auto;
}

.dpp-nowrap th {
  white-space: nowrap;
}

.vyber-polozky-max {
  max-width: 980px;
}

.konstanty-max {
  max-width: 950px;
}

.konstanty-min {
  min-width: 915px;
}

.objednavka-min {
  min-width: 1200px;
}

.dodavka-min {
  min-width: 1300px;
}

.elektrina-min {
  min-width: 1200px;
}

.vypracoval-max {
  max-width: 480px;
}

.elektrina-sum {
  border-bottom: 2px solid;
  border-top: 2px solid;
}