{% extends 'base.html.twig' %}

{% set title = 'Daňové priznanie k DPH' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Daňové priznanie k DPH</h1>
            </div>
        </div>

        <p></p>

        <div class="row">
            <div class="col">
                <div id="danove-priznanie"></div>
            </div>
        </div>

        {#https://github.com/1up-lab/OneupUploaderBundle/issues/143#}
        <div id="uploader-excel" data-endpoint="{{ oneup_uploader_endpoint('uctovnictvo') }}"></div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/dp.js') }}"></script>
{% endblock %}