{% extends 'base.html.twig' %}

{% set title = 'Úvod' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>Vitajte</h1>
                {#<h2><small><em>Technicko-informačný portál Zeus</em></small></h2>#}
            </div>
        </div>

        <p></p>

        <div class="row">
            <div class="col">
                <div id="uvodna-stranka"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/home.js') }}"></script>
{% endblock %}