{% extends 'base.html.twig' %}

{% set title = 'SCZT OST' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>SCZT OST</h1>
            </div>
        </div>

        <p></p>

        <div class="row">
            <div class="col">
                <div id="sczt-ost"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/scztost.js') }}"></script>
{% endblock %}